
:root{
    --background-lighter: #C6CAD2;
    --background-colour: #A1A6B4;
    --background-darker: #82899B;
    --accent-colour: #FF8C42;
    --teal-blue: #0F5257;
    --danger-colour: #CE2D4F;
}


body {
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 2em;
    gap: 3em;
}

.player-one, 
.player-two {
    user-select: none;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: black;
    background-color: var(--background-lighter);
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 20px 0.5px rgba(0, 0, 0, 0.4);
}

.current {
    background-color: var(--danger-colour);
    
    
}

.game-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game-board {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 8em 8em 8em;
    grid-template-columns: 8em 8em 8em;
}

.game-card {
    background: var(--background-colour);
    border: 1px solid var(--background-colour);
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(217, 217, 217);
    transition-property: all;
    transition-duration: 200ms;
    content: '';
    position: relative;
    cursor: pointer;
}

.game-card:hover{
    border-radius: 20%;
    transform: scale(1.05);
    background-color: var(--background-lighter);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5)
}

.game-card.cross::before, 
.game-card.cross::after{
    content: '';
    position: absolute;
    width: calc((100px) * .15);
    height: 100px;
    background-color: var(--danger-colour);
}
.game-card.circle::before, 
.game-card.circle::after{
    content: '';
    position: absolute;
   border-radius: 50%;
   
}

.game-card.circle,
.game-card.cross {
    cursor: not-allowed;
}   

.game-card.cross::before{
    transform: rotate(45deg);
}
.game-card.cross::after{
    transform: rotate(-45deg);
}

.game-card.circle::before{
    width: 100px;
    height: 100px;
    background-color: var(--teal-blue);

}
.game-card.circle::after{
    width: calc((100px) * .7);
    height: calc((100px) * .7);
    background-color: var(--background-colour);

}

.round-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: .5em;
    
}

.round-info {
    user-select: none;
    margin-top: .5em;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
    background-color: rgba(0, 0, 0, );
    padding: 0 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px 0.5px rgba(0, 0, 0, 0.4);
}


.alert {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column ;
}

.alert button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: .25em .5em;
    cursor: pointer;
}

.alert button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.alert.show{
    display: flex;
}